.pager.flex-pager {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid rgba(0,0,0, 0.1);

  &:before,
  &:after {
    content: none;
  }
}

.amount-selector {
  display: inline-block;
  //flex-grow: 1;
}
